
Æfingarverkefni/Æfingarverkefni1/Temp/UnityLockfile
Skilaverkefni/Skilaverkefni2/Temp/UnityLockfile
Skilaverkefni/Skilaverkefni3/Temp/UnityLockfile
Skilaverkefni/Skilaverkefni4/Temp/UnityLockfile
Skilaverkefni/Skilaverkefni5/Temp/UnityLockfile
